/** Stylus Styles */
@import './theme'

@import '../../node_modules/vuetify/src/stylus/app'

html
  overflow : hidden!important
body
  overflow : hidden;

.container 
    flex: 1 1 100%;
    margin: auto;
    padding: 0!important;
    width: 100%;

.vue2leaflet-map
    height: 91vh !important;
    width: 100vw;
    margin: 0;
    padding: 0;
    top: 35px;
    z-index: 0;

div#test
    flex-direction: row;
    overflow-y: scroll;
    height: 100vh;
    margin-top: 5em;
